body {
    counter-reset: list;
}
.five-elements {
    width: 700px;
    background-color: rgb(115, 206, 241);
    margin: 0 auto;
    font-size: 20px;
}
.name-list::before {
    counter-increment: list;
    content: counter(list);
}
.name-list::before {
    content: "\220E";
}

.name-list {
    list-style: none;
    list-style-type: upper-roman;
}
